.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(var(--body-background-rgb)) !important;
}

.main {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.maximized {
  display: none;
}

.scrollRoot {
  height: 100%;
}

/* There is some related styling to the scrollArea in global.
   I was unable to figure out how to get it referenced here... */

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem  1rem;
}