.control {
    &:global(.mantine-ActionIcon-root) {
        color: rgb(var(--subheader-forground-rgb));

        font-size: 3rem;
        width: 1.75rem;
        height: 1.75rem;

        &:hover {
            color: rgb(var(--subheader-forground-rgb));
        }

        &.maximized {
            width: 2.25rem;
            height: 2.25rem;

            &.play,
            &.stop {
                height: 2.5rem;
                width: 2.5rem;
            }
        }

        &.play {
            width: 2rem;
            height: 2rem;
        }

        &.stop {
            width: 1.5rem;
            height: 1.5rem;
        }

        @media (min-width: 768px /*var(--mobile-break)*/) {
            & {
                width: 2rem;
                height: 2rem;

                &.play {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }
    }
}

.range {
    margin: .75rem 0;
    flex-grow: 1;
}