@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #ddd;
}

.main-viewer {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
}
.main-viewer.playing {
    bottom: 100px;
}

.now-playing {
    position: absolute;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
}
.now-playing.playing {
    height: 100px;
}



.now-playing .album-thumb {
    height: 100px;
    width: 100px;
}
.now-playing .album-info > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
}




.album-cover {
    height: 200px;
    width: 200px;
    display: inline-block;
}
.album-summary {
    max-height: 120px;
    overflow: hidden;
}
.album-summary.expand {
    max-height: none;
    overflow: hidden;
}
.no-expand .album-summary {
    overflow: auto;
    max-height: 300px;
}
.no-expand .expand-btn-container {
    display: none;
}
.expand-btn-container {
    text-align: center;
}
.expand-btn-container div.separator {
    background-color: black;
    height: 1px;
    margin: 15px 0;
}
.expand-btn-container .btn-expand-summary {
    margin-top: -55px;
    padding: 0 !important;
    width: 25%;
}





/* Left to migrate to tailwindcss */
.track-container table {
    border-top: solid 1px black;
    width: 100%;
}

.track-container table td {
    padding: 5px 0;
}

.btn.btn-track-play {
    font-size: 1em;
    padding: 0 !important;
    margin-top: -7px;
}

.col-track-index, 
.col-track-play,
.col-track-options {
    width: 30px;
}
.col-track-duration {
    width: 65px;
}

.album-track.complete {
    font-weight: bold;
}

.album-track.in-progress {
    color: red;
}