.btn {
    display: flex;
    justify-content: center;
    border-radius: 0.375rem;
    cursor: pointer;

    color: rgb(var(--navbar-button-active-forground-rgb));
    background-color: rgb(var(--navbar-button-active-background-rgb));
    border: 1px solid rgb(var(--navbar-background-rgb));

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;

    height: 3rem;
}

.nav {
    border: none;
    height: 2.25rem;
    justify-content: flex-start;

    color: 1px solid rgb(var(--navbar-foreground-rgb));
    background-color: transparent;
}

.btn:hover {
    color: rgb(var(--navbar-button-foreground-hover-rgb));
    background-color: rgb(var(--navbar-button-background-hover-rgb));
}

.active {
    color: rgb(var(--navbar-button-active-forground-rgb));
    background-color: rgb(var(--navbar-button-active-background-rgb));
}

@media (min-width: 768px /*var(--mobile-break)*/) {
    .nav {
        justify-content: center;
    }
}

@media (prefers-color-scheme: dark) {
    /* .btn {
      color: rgb(var(--navbar-forground-inactive-rgb));
      background-color: rgb(var(--navbar-background-rgb));
    }
    
    .btn:hover {
      color: rgb(var(--navbar-forground-inactive-rgb));
      background-color: rgb(var(--navbar-button-hover-rgb));
    }

    .active {
        color: rgb(var(--navbar-button-active-forground-rgb));
        background-color: rgb(var(--navbar-button-active-background-rgb));
    } */
}

/* Maintine overrides */
/* body .mantine-Button-root {
  color: 1px solid rgb(var(--navbar-background-rgb));
  background-color: transparent;
  border: 1px solid rgb(var(--navbar-background-rgb));

  border-radius: 0.375rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;

  height: 3rem;
}

body .mantine-Button-root:hover {
  color: rgb(var(--navbar-background-rgb));
  background-color: transparent;
  border: 1px solid rgb(var(--navbar-background-rgb));
}

body nav .mantine-Button-root {
  color: rgb(var(--navbar-forground-inactive-rgb));
  background-color: transparent;
  border: none;
}

body nav .mantine-Button-root:hover {
  color: rgb(var(--navbar-foreground-rgb));
  background-color: rgb(var(--navbar-button-hover-rgb));
} */
