.container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filter_item {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.caption {
    margin-right: .5rem;
}

.btn_menu {
    fill: rgb(var(--subheader-forground-rgb));
    height: 24px;
    width: 24px;
    overflow: hidden;
    transform-origin: center;
    transform: rotate(0deg);
    transition: all 0.2s ease-out;
    transform: none;
}

.btn_menu:focus {
    outline: none;
}

.btn_menu_open {
    transform: rotate(180deg);
}