.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.controls {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: 1rem;
}