.album-item {
    text-align: center;
}

.album-item > a,
.album-item > a:hover {
    color: #232323;
    border-bottom-color: #424242;
    text-decoration:none;
    font-weight: 400;
}

.album-item  img {
    height: 200px;
    width: 200px;

    border-radius: 8px;
}

.now-playing .album-info,
.now-playing .album-info a {
    color: rgba(255,255,255,.5);
}
.now-playing .album-info a:hover {
    color: rgba(255,255,255,.7);
    text-decoration: none;
}
.now-playing .album-info .track-title,
.bg-dark.fixed-bottom .btn {
    color: #fff;
}

.btn.btn-player-play,
.btn.btn-player-pause {
    font-size:2em;
    padding: 0;
}

.btn.btn-player-stop {
    font-size:1.3em;
    padding: 0;
}

.now-playing .album-thumb {
    height: 100px;
    width: 100px;
}

.range-container {
    padding-left: 25px;
    padding-right: 25px;
    width: 60%;
}

/* Album Information */
.album-cover {
    height: 200px;
    width: 200px;
    display: inline-block;
}

.album-info {
    display: inline-block;
}

.album-info-container .album-info .album-title {
    font-size: 24px;
}

.album-summary-container {
    max-height: 110px;
    overflow: hidden;
}
.album-summary-container.expand {
    max-height: none;
    overflow: hidden;
}

.album-summary {
    display: inline-block;
}

.btn.btn-play-on-deck {
    font-size: 2em;
    padding: 0;
}
.on-deck-title {
    padding-left: 15px;
    display: inline-block;
    line-height: 3;
    vertical-align: middle;
}

.expand-btn-container {
    text-align: center;
}
.expand-btn-container div.separator {
    background-color: black;
    height: 1px;
    margin: 15px 0;
}
.expand-btn-container .btn {
    margin-top: -55px;
    padding: 0 !important;
    width: 25%;
}

.track-container table {
    border-top: solid 1px black;
    width: 100%;
}

.track-container table td {
    padding: 5px 0;
}

.btn.btn-track-play {
    font-size: 1em;
    padding: 0 !important;
    margin-top: -7px;
}

.col-track-index, 
.col-track-play {
    width: 30px;
}
.col-track-duration {
    width: 65px;
}

.album-track.complete {
    font-weight: bold;
}

.album-track.in-progress {
    color: red;
}