.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;
    
    max-width: var(--mobile-break);
    padding: 0.75rem 1rem;
    margin: auto;
}

.version {
    display: flex;
    justify-content: space-around;
}

.switchContainer {
    display: flex;
    justify-content: space-between;
}

.label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .25rem;
}

.switch {
    &:global(.mantine-Switch-root .mantine-Switch-track) {
        --switch-bd: rgb(var(--navbar-button-background-hover-rgb));
        --switch-bg: rgb(var(--body-background-rgb));  
    }
}