/* Overrides to support the ScrollArea element
   not allowing horizontal scrolling for our layout element. */
.mantine-ScrollArea-viewport {
    overflow-x: hidden !important;
}

.mantine-ScrollArea-viewport > div {
    display: block !important;
}

.mantine-Burger-burger, .mantine-Burger-burger::before, .mantine-Burger-burger::after {
    color: rgb(var(--navbar-foreground-rgb));
    background-color: rgb(var(--navbar-foreground-rgb));
}

.mantine-Select-item[data-selected] { 
    color: rgb(var(--subheader-forground-rgb));
    background-color: rgb(var(--subheader-background-rgb));
}

.mantine-Spoiler-control {
    color: rgb(var(--body-foreground-rgb));
}

.mantine-InputWrapper-label,
.hub .mantine-UnstyledButton-root {
    color: rgb(var(--body-foreground-rgb));
}
.hub .mantine-UnstyledButton-root:disabled, .hub .mantine-UnstyledButton-root[data-disabled] {
    color: rgb(var(--disabled-button-fill-rgb));
}

.mantine-Slider-bar {
    background-color: rgb(var(--navbar-background-rgb));
}
.mantine-Slider-thumb {
    color: rgb(var(--navbar-background-rgb));
    border-color: rgb(var(--navbar-background-rgb));
}

.user-selector .mantine-Avatar-root {
    border-radius: 4rem !important;
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 0.1) !important;
}

.mantine-Modal-header {
    color: white;
    background-color: black;
}
.mantine-Modal-body {
    background-color: black;
    padding: 1rem;
    min-height: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

}

.mantine-PinInput-input {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
}

.mantine-Modal-close {
    display: none;
}
